.increase_muscle {
  display: flex;
  justify-content: space-around;
  padding: 0 80px;
  img {
    object-fit: cover;
    width: 50%;
  }
  .texto {
    margin: 70px 0;
    font-weight: bold;
    h2 {
      color: $color1;
      font-size: 1.5rem;
    }
  }
  #increase_txt1 {
    margin-left: 40px;
  }
  #increase_txt2 {
    margin-right: 40px;
  }
}
@media (max-width: 600px) {
  .increase_muscle {
    flex-direction: column;
    padding:0 40px;
    img{
      margin:30px 0;
      width:100%;
      border-radius: 10px;
    }
    #increase_txt1 {
      margin: 20px 0 30px 0px;
    }
    #increase_txt2 {
      margin:30px 0 20px 0;
    }
  }
}
