.increase_muscle{
  display: flex;
  height: 450px;
  justify-content: space-around;
  margin:0 80px;
  img{
    object-fit: cover;
    width: 600px;
  }
  .texto{
    margin-top:70px;
    font-weight: bold;
    h2{
      color:$red;
      font-size:1.5rem;
    }
  }
  #increase_txt1{
    margin-left:40px
  }
  #increase_txt2{
    margin-right:40px
  }
}
@media(max-width: 1080px){
  .increase_muscle{
    margin: 0;
    flex-direction: column;
    height: 700px;
    align-items: center;
    img{
      overflow:hidden;
      height: 500px;
      width: 100%;
    }
    .texto{
      margin:40px;
    }
  }
}